# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/dist
/build
/package

# misc
/docs
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.history
*.log
.anima
.vscode
inspector:
# secrets
secrets.*.js
rd-map.md
PRIVACY_README.md
GOOGLE-STORE.md
